<div class="navbar navbar-basile">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "#about", class: "nav-link mr-5" do %>
            <span><span class='nav-capital'></span>About</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "#work", class: "nav-link mr-5" do %>
            <span><span class='nav-capital'></span>Work</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "#contact", class: "nav-link" do %>
            <span><span class='nav-capital'></span>Contact</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
