<!-- MAIN BANNER -->
<section class="banner-container anchor animated fadeIn">
  <div class="row align-items-center h-100">
    <div class="col-12 d-flex justify-content-center">
      <p class="banner-text__sub pr-3">FullStack Developer</p>
      <div class="banner-text rellax" data-rellax-speed="-1">
        <h1 class="banner-text__first_name"><span class="first_letter">b</span><span>asile</span></h1>
        <h1 class="banner-text__last_name"><span class="first_letter">q</span><span>uinchon</span></h1>
      </div>
    </div>
  </div>
</section>

<!-- IMAGES / STRATS -->
<!-- ACCOLADES & CODE-->
<div class="d-flex justify-content-between chevrons">
  <div class="chevron-gauche animated fadeInRight" style="background: url(<%= image_path 'code-trs.png' %>);"></div>
  <div class="chevron-droite animated fadeInLeft" style="background: url(<%= image_path 'code-trs.png' %>);"></div>
</div>

<div class="wrapper-color"></div>
<div class="wrapper-color-gray" ></div>

<div class="nav-right-container">
  <div></div> <!-- Not useless -->
  <%= render partial: "shared/change" , locals: { partial_name: "pages/presentation", direction: ">" } %>
</div>
