<!-- MAIN BANNER -->
<section class="banner-container anchor">
  <div class="row align-items-center h-100">
    <div class="col-12">
      <div class="banner-text">
        <h1 class="banner-text__first_name"><span>b</span>asile</h1>
        <h1 class="banner-text__last_name"><span>q</span>uinchon</h1>
      </div>
    </div>
  </div>
</section>

<!-- IMAGES / STRATS -->
<!-- ACCOLADES & CODE-->
<div class="d-flex justify-content-between accolades">
  <div class="banner-code left" style="background: url(<%= image_path 'code-trs.png', alt: "code-trs" %>)">
    <div class="accolade-gauche" style="background: url(<%= image_path 'accolade_gauche.png', alt: "accolade-gauche" %>)"></div>
  </div>
  <div class="banner-code right" style="background: url(<%= image_path 'code-trs.png', alt: "code-trs" %>)">
      <div class="accolade-droite" style="background: url(<%= image_path 'accolade_droite.png', alt: "accolade-droite" %>)"></div>
  </div>
</div>
