<div class="presentation-container">
  <div class="row align-items-center" id="about">
    <%= image_tag "cyrano_phone_large.png", alt: "cyrano_phone", class: 'mockup col-md-8 col-lg-8', lazyLoad: true %>
    <div class="presentation-text-right col-md-4 col-lg-4">
      <div class="d-flex flex-column justify-content-between h-100">
        <p>Après 10 ans dans l’industrie de la télévision et du cinéma en tant que monteur, j’ai pris la décision en 2019 d’effectuer ma reconversion en tant que développeur.</p>
        <p>J’ai effectué en Décembre de la même année une formation « bootcamp » au Wagon. J’y ai appris les fondamentaux du code à travers le langage ruby et suis surtout devenu passionné.</p>
        <p>En fin de programme, mon équipe a eu le plaisir de développer l’application Cyrano, qui permet l’apprentissage de poèmes, notamment grave à la reconnaissance vocale.</p>
      </div>
    </div>
  </div>
  <!-- WRAPPER CUBE -->
  <div class="wrapper-color-gray-presentation rellax" data-rellax-speed="-2"></div>
</div>



