<div class="absolute-container">
  <div class="presentation-container ">
    <div class="sites-container">
      <div class="site-phone phone-tall" style="background-image: url(<%= image_path "success_phone_tall.png", alt: "success_phone_tall" %>)">
        <%#= image_tag "success_phone_tall.png", alt: "success_phone_tall", class: 'phone-tall' %>
      </div>
      <div class="site-desk site-tall" style="background-image: url(<%= image_path "success_desk_tall.png", alt: "success_desk_tall" %>)">
        <%#= image_tag "vio_desk_tall.png", alt: "vio_desk_tall", class: 'site-tall' %>
      </div>
    </div>
    <div class="wrapper-color-gray-presentation center"></div>
  </div>
  <div class="wrapper-code" style="background-image: url(<%= image_path "code-trs.png", alt: "code-trs" %>)">
  </div>
</div>

