<div class="presentation-container left-presentation">
  <div class="row align-items-center">
    <div class="presentation-text-left col-md-4 col-lg-4">
      <div class="d-flex flex-column justify-content-around h-100">
        <p>Depuis la fin de ma formation, je partage mon temps de développeur entre courtes missions freelance pour des particuliers et projets personnels. J’aime coder mes applications de façon responsive pour qu’elles s’adaptent à tout type d’écran et d’environnement.</p>
        <p>Je m’estime constamment en progression et souhaite travailler sur des projets qui me challengent. Je ne me donne pas de barrière et aime faire face aux problèmes lorsque je code. </p>
      </div>
    </div>
    <%= image_tag "success_desk_mockup.png", alt: "success_desk", class: 'mockup col-md-8 col-lg-8', lazyLoad: true %>
  </div>
  <!-- WRAPPER CUBE -->
  <div class="wrapper-color-gray-presentation left rellax" data-rellax-speed="-2"></div>
</div>



