.banner-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  overflow: hidden;
}

.banner-text {
  padding: 0 0 0 30%;
  opacity: .8;
}

.wrapper-color {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: $lighter-gray;
}

.wrapper-color-gray {
  position: absolute;
  top: 20%;
  height: 70%;
  width: 45%;
  background-color: $orange-opaque;
  left: 25%;
}

.chevrons {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

}

.banner-text__first_name,
.banner-text__last_name {
  font-family: 'courier';
  font-size: 4rem;
  padding: 0px;
  line-height: 3rem;
  color: $blue;
  font-weight: 100;

  .first_letter {
    color: $orange;
  }
}

.testing {
  display: none;
}

.chevron-gauche,
.chevron-droite {
  z-index: 1;
  height: 80%;
  width: 100%;
  flex: 1 0 50%;
  background-size: contain !important;
  background-attachment: fixed !important;
  mask-size: cover !important;
  mask-position: center !important;
}

.chevron-gauche {
  align-self: flex-start;
  mask: url(chevron-gauche.svg);
}

.chevron-droite {
  align-self: flex-end;
  mask: url(chevron-droit.svg);
}

@media (max-width: 576px) {
  .chevrons {
    flex-direction: column;
  }
  .banner-text {
    padding: 0 10%;
  }

  .chevron-gauche,
  .chevron-droite {
    height: 400px;
  }

  .banner-text__first_name,
  .banner-text__last_name {
    font-size: 4rem;
    line-height: 3rem;
  }
}

@media (max-width: 320px) {
  .banner-text__first_name,
  .banner-text__last_name {
    font-size: 3rem;
    line-height: 2rem;
  }
}


