.new-message-form-container__title {
  font-size: 1rem;
  font-family: 'courier';
  color: $blue;
  display: flex;
  align-items: center;
  background: $orange-opaque;
  height: 2rem;
}

.new-message-form-container {
  height: fit-content;
  padding: 3rem;
  border-radius: 8px;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 16px rgba($blue, .2);
  z-index: 500;
  background: $lighter-gray;

  form {
    width: 100%;
  }
}

.new_message {
  position: relative;

  .cancel-form {
    position: absolute;
    top: -2rem;
    left: -2rem;
  }
}

