footer {
  width: 100%;
  background: $blue-opaque;
  height: 100vh;

  .logo-footer {
    object-fit: cover;
    height: 4rem;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .footer-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    margin: 0 auto;
  }

  i {
    color: $lighter-gray;
    font-size: 2rem;

    &:hover {
      color: $orange;
    }
  }
}

@media (max-width: 576px) {
  footer { height: 20vh; }
}
