.presentation-container {
  height: fit-content;
  overflow: hidden;
  background: $lighter-gray;
  padding: 5rem;
  position: relative;
  height: fit-content;
}

.cyrano_mockup {
  z-index: 1;
  object-fit: cover;
  object-position: center;
}

.presentation-text-right {
  z-index: 1;
  height: 70vh;

  p {
    text-align: justify;
    line-height: 2rem;
  }
}

.wrapper-color-gray-presentation {
  position: absolute;
  top: 15%;
  height: 70%;
  width: 30%;
  background-color: $light-gray;
  right: 25%;
  z-index: 0;
}

@media (max-width: 576px) {
  .presentation-container {
    padding: 2rem;
    overflow-y: hidden;
  }

  .cyrano_mockup {
    width: 130vw;
    position: relative;
    left: -20%;
    object-position: center;
  }

  .presentation-text-right {
    height: fit-content;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .presentation-container {
    padding: 2rem;
    overflow-y: hidden;
  }

  .cyrano_mockup {
    object-position: center;
  }

  .presentation-text-right {
    height: fit-content;
  }
}
